body {
  color: #303030;
  font-family: helvetica;
}

/* SVG CHART */
svg {
  border: 2px solid #a0a0a0;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: #6495ED;
}

/* HTML WIDGET */
.widget {
  border-radius: 4px 16px 0 0;
  color: #ffffff;
  float: left;
  margin: 0 30px 20px 0;
  width: 215px;
}

.widget.customers { background-color: #00bcd4; }
.widget.sales     { background-color: #8bc34a; }
.widget.rating    { background-color: #ff9800; }

.widget h1 {
  height: 1em;
  margin: 0;
  padding: 0 10px 10px 10px;
}

.widget h5 {
  margin: 0;
  padding: 10px;
}

.widget .target {
  background-color: rgba(0, 0, 0, 0.17);
  height: 8px;
}
