body {
  color: #303030;
  font-family: helvetica;
}

#chart svg {
  border: 2px solid #a0a0a0;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: #6495ED;
}
